#commitment-page {
  background-color: #2E3D59;
  width: 90vw;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
}

.drop-down-item {
  width: 80%;
  margin: 25px auto;
  background-color:#101726;
  border-radius: 10px;
  min-height: 50px;
}

.drop-down-item button {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.drop-down-header {
  display: flex;
  color: #49F2C2;
  align-items: center;
}

.drop-down-header h1 {
  font-size: 18px;
  text-align: center;
}

.toggle {
  background-color: #6D80A6;
  width: 90%;
  margin: auto;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.arrow-down {
  width: 16px;
  height: 10px;
  margin: 20px;
}

.rotated-arrow {
  transform: rotate(180deg);
}

.commitment-item {
  display: flex;
  width: 90%;
  box-sizing: border-box;
  margin: 5px auto;
  font-size: 14px;
}

.completion-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px 20px 5px 0px;
  width: 10%;
}

.completion-date .year {
  font-size: 10px;
}

.completion-date .month {
  font-size: 12px;
}

.completion-date .day {
  font-size: 26px;
}

.commitment-name {
  font-size: 18px;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.commitment-xp {
  width: 10%;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commitment-item:not(:first-child) {
  border-top: 1px solid black;
}

.commitment-item:first-child .commitment-xp, 
.commitment-item:first-child .header-name,
.commitment-item:first-child .completion-date {
  font-size: 18px;
}

.ongoing-commitments {
  width: 90%;
  margin: 25px auto;
  border-radius: 10px;
  padding-bottom: 10px
}

.ongoing-commitments .commitment-item {
  display: grid;
  grid-template-columns: 1.3fr 5fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.ongoing-commitments h1 {
  font-size: 18px;
  text-align: center;
  color: #49F2C2;
  padding: 13px;
  margin-bottom: 0px;
}

.ongoing-items {
  border-radius: 10px;
  background-color: #6D80A6;
}

.ongoing-items .commitment-item:not(:first-child) {
  border-top: 1px solid black;
}

.commitment-item .commit-button {
  background-color: #49F2C2;
  border-radius: 15px;
  width: 100%;
  height: 90%;
  margin: 0px 10px;
  margin-top: 4px;
}

.commitment-item .commit-button:hover {
  background-color: #43D9BD;
}

.delete-image {
  width: 100%;
  height: auto;
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 6px;
}

.delete-image:hover, .complete-image:hover {
  background-color: #4e5b75;
}

.complete-image {
  width: 100%;
  height: auto;
  margin-top: 6px;
  margin-left: 8px;
  box-sizing: border-box;
  border-radius: 6px;
}
 
@media screen and (min-width: 700px) {
  #commitment-page {
    width: 580px;
    margin: 0 auto;
  }
}
