.add-header {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

.form-card {
  width: 80vw;
  margin: 25px auto;
  color: white;
  background-color: #101726;
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem #49F2C2; 
  border: 1px solid #0D0D26;
  min-height: fit-content;
}

.challenge-name-form label {
  margin: 15px 0px;
  font-size: 16px;
}

.challenge-name-form input {
  display: block;
  margin: 10px 10%;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #49F2C2;
  height: 40px;
  width: 80%;
  outline: none;
  font-size: 18px;
  color:white;
}

.challenge-button {
  border: none;
  outline: none;
  height: 40px;
  width: 50%;
  border-radius: 4px;
  background-color: #0D0D26;
  color: white;
  border-radius: 10px;
  margin: 10px auto;
}

.challenge-name-form button {
  margin: 15px 0px;
  width: 30%;
}

.challenge-name {
  position: relative;
  min-height: 70px;
  padding-right: 18%;
}

.challenge-name button {
  position: absolute;
  top: 15px;
  right: 10%;
  width: 40px;
  height: 40px;
  font-size: 25px;
}


.challenge-name h2 {
  font-size: 18px;
  margin: 8px 10%;
  word-break: break-all;
}

.commitment-list h2 {
  font-size: 16px;
  margin: 0 10%;
}

.commitment-list label {
  display: block;
}

.commitment-list input {
  display: block;
}

.commitment-list ul {
  padding: 0;
  margin: 20px 10%;
  list-style-type: none;
}

.form-card input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #49F2C2;
  width: 80%;
  outline: none;
}

.form-card input:focus {
  border-bottom: 2px solid #00c3ff;
}

.form-card label {
  padding: 10px 8%;
}

#submit-button {
  display: block;
  width: 80vw;
  margin: 25px auto;
}

#submit-button:active {
  background-color: #2E3D59;
}

.add-challenge-completed {
  font-weight: bold;
  text-align: center;
}

.existing-challenge {
  background-color: #101726;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: white;
}

.existing-challenge button {
  background-color: #43D9BD;
  color: black;
  font-size: 17px;
}

.challenge-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.challenge-card .challenge-title {
  border-bottom: 1px solid #49F2C2;
  color: #49F2C2;
}

.challenge-card p {
  margin: 0;
}

.commitments {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

.commitments h2 {
  color: #49F2C2;
}

.commitments form input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  margin: 5px auto;
  padding-left: 20px;
  outline: none;
  box-sizing: border-box;
}

.existing-challenge .delete-button {
  background-color: rgb(214, 77, 55);
  margin-bottom: 20px;
}

.add-commit-form .add-commit-button {
  width: 23vw; 
  margin: 10px 4vw;
  background-color: #43D9BD;
  color: black;
  font-size: 18px;
}

.add-commit-form .add-commit-button:active {
  background-color: #257a6b;
}

@media screen and (min-width: 700px) {
  #challenge-page {
    width: 580px;
    margin: 0 auto;
    background-color: teal;
  }

  .form-card, #submit-button {
    width: 580px;
  }

  .existing-challenge {
    width: 580px;
  }

  
  .existing-commit-form .existing-commit-input {
    width: 500px;
    margin: 10px auto; 
  }
}

.no-commitments {
  text-align: center;
}